.dark-mode-switch {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 30px;
    padding: 1px;
  }
  .dark .dark-mode-switch {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 1px;
  }
  
  .dark-mode-switch input[type="checkbox"] {
    appearance: none;
    width: 60px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-left: 15px;

  }
  
  .dark-mode-switch input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
    background-color: #666666;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  .dark .dark-mode-switch input[type="checkbox"]:before {
    background-color: rgb(37, 35, 35);
  }
  
  .dark-mode-switch input[type="checkbox"]:checked {
    background-color: #666666;
  }
  
  .dark-mode-switch input[type="checkbox"]:checked:before {
    transform: translateX(40px);
  }
  body.dark {
    background-color: #333;
    color: white;
  }

  
  .dark .shop {
    background-color: #333;
  }
  
  .dark .total-quantity {
    color: white;
  }
  
  .dark .product-card {
    border-color: white;
    color: white;
    box-shadow: rgb(255, 255, 255) 0px 0px 2px 0px, rgba(121, 129, 139, 0.11) 0px 2px 4px 0px, rgba(110, 116, 124, 0.1) 0px 4px 8px 0px;

  }


  
  .dark .product-card .AddToCartButton {
    background-color: #555;
    color: white;
    border-color: white;
  }
  
  .dark .product-card .AddToCartButton:hover {
    background-color: #777;
  }
  
  .dark .product-card .AddToCartButton:active {
    background-color: #999;
  }
  
  .dark .LearnMoreButton:hover {
    background-color: #555;
  }
  
  .dark .LearnMoreButton:active {
    background-color: #777;
  }


  .dark .dark-mode-switch{
    background-color:white

  }
  .dark .navbar{
    background-color:white;
    color:black;
  }