/* Navbar.css */

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 0 20px;

  }
  
  .leftSide {
    &>h1{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
    }
    display: flex;
    gap: 5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    font-size: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
  }
  
  .nav-links a:hover {
    color: #ff5733;
  }
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  body {
    margin: 0;
  }
  
  