.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  flex-grow: 0;
  gap: 2rem;
  
}

.centered-content{
  justify-content: center;
  display: flex;
  width: 100%;
  
}

.total-quantity {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 0px;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;
  box-shadow: rgba(79, 94, 113, 0.12) 0px 0px 2px 0px, rgba(79, 94, 113, 0.11) 0px 2px 4px 0px, rgba(79, 94, 113, 0.1) 0px 4px 8px 0px;
}
.fontSizeTable{
  display: flex;
  align-items: center;
  padding: 20px 40px;
  justify-content: end;
  height:8rem;
  font-size: 20px;

}

.product-card img {
  width: 100%;
  height: 30%;
}

.product-card h2 {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-card p {
  font-size: 16px;
}

.product-card input[type="text"],
.product-card input[type="number"] {
  width: 100%;
  background-color: white;
  color: black;
}

.product-card .AddToCartButton {
  margin-top: 10rem;
  background-color: #ead7e5;
  height: 3rem;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid black;
}
.product-card .AddToCartButton:hover {background-color: #8d7286}

.LearnMoreButton{
  all:unset;
  background: none;
  margin: 0;
  text-decoration: underline black;
  padding: 1rem;
  margin-top: 0.5rem;
}
.LearnMoreButton:hover{
  background-color: #cccccc
}
.product-card .AddToCartButton:active {
  background-color: #8d7286;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.LearnMoreButton:active {
  background-color: #d3d3d3;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
